# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# .gitignore
*.iml
.idea/
*.log
*.class
target/
*.jar
*.db
*.sqlite
*.env
*.txt
configuration.txt
pepper.txt
